<div class="container animated fast fadeIn">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
      <form novalidate [formGroup]="resetGroup" (ngSubmit)="onSubmit(resetGroup)">
        <fieldset>
          <legend>RESTABLECER PASSWORD</legend>
          <alert *ngIf="alert.visible" [type]="alert.type" dismissible="true">
            <h4 class="alert-heading">{{ alert.title }}</h4>
            <p class="mb-0">{{ alert.message }}</p>
          </alert>
          <div class="form-group" 
              [ngClass]="{ 'has-danger': (resetGroup.get('email').hasError('required') || resetGroup.get('email').hasError('email') || resetGroup.get('email').hasError('maxlength') || resetGroup.get('email').hasError('unique')) && resetGroup.get('email').touched }">
            <label for="example-email-input" class="col-form-label">Email</label>
            <input class="form-control" type="email" placeholder="Escribir email" id="example-email-input" formControlName="email">
            <!-- Errors -->
            <div class="form-control-feedback"
                *ngIf="resetGroup.get('email').hasError('required') && resetGroup.get('email').touched">
              <small>Email es obligatorio</small>
            </div>
            <div class="form-control-feedback"
                *ngIf="!resetGroup.get('email').hasError('required') && resetGroup.get('email').hasError('email') && resetGroup.get('email').touched">
              <small>El email es inválido.</small>
            </div>
            <div class="form-control-feedback"
                *ngIf="resetGroup.get('email').hasError('maxlength') && resetGroup.get('email').touched">
              <small>El email no puede tener más de 255 caracteres.</small>
            </div>
            <div class="form-control-feedback"
                *ngIf="resetGroup.get('email').hasError('unique')">
              <small>El email ya está en uso.</small>
            </div>
          </div>
          <div class="form-group"
              [ngClass]="{ 'has-danger': ((resetGroup.get('password').hasError('required') || resetGroup.get('password').hasError('minlength')) && resetGroup.get('password').touched) }">
            <label for="example-password-input" class="col-form-label">Password</label>
            <input class="form-control" type="password" placeholder="Escribir password" id="example-password-input" formControlName="password">
            <!-- Errors -->
            <div class="form-control-feedback"
                *ngIf="resetGroup.get('password').hasError('required') && resetGroup.get('password').touched">
              <small>Password es obligatorio</small>
            </div>
            <div class="form-control-feedback"
                *ngIf="resetGroup.get('password').hasError('minlength') && resetGroup.get('password').touched">
              <small>El Password debe tener al menos 6 caracteres.</small>
            </div>
          </div>
          <div class="form-group"
              [ngClass]="{ 'has-danger': (resetGroup.get('password_confirmation').hasError('required') && resetGroup.get('password_confirmation').touched) }">
            <label for="example-password-confirmation-input" class="col-form-label">Confirmación</label>
            <input class="form-control" type="password" placeholder="Escribir confirmación" id="example-password-confirmation-input" formControlName="password_confirmation">
            <!-- Errors -->
            <div class="form-control-feedback"
                *ngIf="resetGroup.get('password_confirmation').hasError('required') && resetGroup.get('password_confirmation').touched">
              <small>Confirmación es obligatorio</small>
            </div>
          </div>
          <div class="form-group has-danger"
              *ngIf="!resetGroup.get('password').hasError('required') && !resetGroup.get('password_confirmation').hasError('required') && resetGroup.hasError('matchPassword') && resetGroup.get('password').touched && resetGroup.get('password_confirmation').touched">
              <div class="form-control-feedback">
                <small>La confirmación de contraseña no coincide.</small>
              </div>
          </div>
          <a [routerLink]="['/']" class="btn btn-primary">Cancelar</a>
          <button type="submit" class="btn btn-primary" [disabled]="resetGroup.invalid">Registrar</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>