<footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 wrapper">
                    <h6 class="footer__title">lbavendanos © 2017</h6>
                    <address class="footer__contact">
                        <ul class="footer__contact-social">
                            <li class="footer__contact-social__item">
                                <a href="https://www.facebook.com/lbavendanos" title="Facebook" target="_blank">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>  
                                </a>
                            </li>
                            <li class="footer__contact-social__item">
                                <a href="https://www.linkedin.com/in/lbavendanos" title="Linkedin" target="_blank">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>  
                                </a>
                            </li>
                            <li class="footer__contact-social__item">
                                <a href="https://github.com/lbavendanos" title="Github" target="_blank">
                                    <i class="fa fa-github" aria-hidden="true"></i>  
                                </a>
                            </li>
                            <li class="footer__contact-social__item">
                                <a href="mailto:lbavendanos@gmail.com" title="Email" target="_blank">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </address>
                </div>
            </div>
        </div>
    </footer>