<div class="content-wrap animated fadeIn">
  <h1 class="content-wrap-title">Welcome</h1>
  <p class="content-wrap-info">
      Protected Area
  </p>
  <div class="card" style="width: 20rem;">
    <div class="card-block text-center">
      <h4 class="card-title text-uppercase">{{ user.name }}</h4>
      <ul>
        <li><strong>id: </strong> {{ user.id }}</li>
        <li><strong>email: </strong> {{ user.email }}</li>
        <li><strong>created_at: </strong> {{ user.created_at }}</li>
        <li><strong>updated_at: </strong> {{ user.updated_at }}</li>
      </ul>
    </div>
  </div>
</div>